body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bar{
  vertical-align: middle;
  width: 100vw;
  height: 12vh;
  background-color:#012a2d;
  color: white;
  font-size: 8vmin;
  font-display:inherit;
  float: right;
}

.barImage{
  padding-left: 1vw;
  padding-top: 1vh;
  height: 9vh;
  float: left;
}

.barImage image {
  background-color: white;
}

.barText{
  padding-left: 5vmin;
}

.sideBar{
  height: 93vh;
  width: 15vw;
  background-color: #012a2d;
  color: aliceblue;
  font-size: 1.2vw;
  padding-left: 0.1vw;
  float: left;
}
.tab{
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vh;
}

.tab img{
  height: 2.5vh;
  padding-right: 3vh;
}

div.tab:hover {
  box-shadow: 0 0 2px 1px #006A4D;
}

.mainDisplay {
  height: 105vh;
  width: 100vw;
  background-color: lightgray;
}

.titleText {
  text-indent: 1vw;
  font-size: 4vh;
}

.contentText {
  text-indent: 1vw;
  font-size: 3vh;
}

.signIn {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  font-size: 1.5vw;
}

.signInPage {
  margin-left: 1vw;
}
.social-media-main-container{
  margin: auto;
  padding: 0;
}


.card-body{
  margin: 2px;
  border: solid 2px green;
  border-radius: 10px;
}
.social-media-main-container a{
    color: #012a2d;
}
.social-media-main-container a:hover{
  color: #023020;
}

.isInput{
  color: green;
  width: 80vw;
}


.checked {
  color: orange;
}

.nameInput {
  width: 80vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.textarea {
  width: 80vw;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.surveyInput {
  justify-content: center;
  display: grid;
}

.postButton {
  width: 80vw;
  background-color: #006A4D;
}

.surveyInputValue{
  margin-right: 15.2vw;
}
